/*
     Whole page Classes
 */
html, body, .container-fluid, .row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

.map, .sidebar {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*
     Navbar Classes
 */

.navbar-header {
  padding: 10px;
  max-height: 50px;
}


/*
     Sidebar Classes
 */

 .sidebar {
   padding: 15px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 @media (min-width: 860px) {
   .sidebar {
     top: 0;
     padding-top: 10px;
     padding-bottom: 25px;
     z-index: 999;
     display: block;
     overflow-y: scroll;
     overflow-x: hidden;
   }
 }

 /*Esri Overrides*/

/*Remove search button*/
.searchBtn.searchSubmit {
  display: none;
}

/*Widen input text*/

.arcgisSearch .searchGroup .searchInput {
  width: 95%;
  padding: 6px 0px 6px 12px;
  border: 1px solid #959595;
  border-radius: 0;
}

/*set search input box width to full - width of side elements*/

.arcgisSearch .searchInputGroup {
  width: 100%;
  /*modified to 11 when sources select was removed*/
}
.arcgisSearch .searchExpandContainer {
  width: 100%;
}

.arcgisSearch .searchClear {
  right: 10px;
}




 /*End Esri Overrides*/

 /*
      Footer Classes
  */

  #footer {
    z-index: 1001;
    background-color: #e0e0e0;
    height: 50%;
  }
