/*
     Whole page Classes
 */
html, body, .container-fluid, .row {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*
     Navbar Classes
 */

.navbar-header {
  padding: 10px;
  max-height: 50px;
}


/*
     Sidebar Classes
 */

 .sidebar {
   background-color: #dfdfdf;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 @media (min-width: 860px) {
   .sidebar {
     position: fixed;
     top: 0px;
     left: 0;
     bottom: 0;
     top:  50px;
     padding-top: 10px;
     padding-bottom: 25px;
     z-index: 999;
     display: block;
     overflow-y: scroll;
     overflow-x: hidden;
   }
 }

 /*
      Footer Classes
  */

  .footer {
    z-index: 1001;
    background-color: green;
    min-height: 60px;
    bottom: 0;
  }
